# Настройки подключения к базе данных (SQLite - локально)
DATABASE_URL=sqlite:///chat_1to1.db

# Настройки подключения к базе данных (MySQL - для продакшена)
# DATABASE_URL=mysql+pymysql://username:password@host:port/database_name

# Секретный ключ для Flask (измените на случайную строку в продакшене)
SECRET_KEY=секрет123local

# Порт для запуска приложения
FLASK_RUN_PORT=5001
